<div class="challenge-card-container">
  <div class="card-inner">
    <div class="card-front">
      <div class="header">
        <h5>
          <div>Capital</div>
          <div>Rs. 1,00,000</div>
        </h5>
        <img src="./../../assets/images/logo.png" alt="logo" />
      </div>
      <div class="challenge-details">
        <div class="detail-row">
          <span class="label"> TRADING STRATEGY: </span>
          <span class="value"> Normal </span>
        </div>
        <div class="detail-row">
          <span class="label"> PROFIT TARGET: </span>
          <span class="value"> 5% <span class="small-font">(Funded account 2.5%)</span> </span>
        </div>
        <div class="detail-row">
          <span class="label"> INSTRUMENTS: </span>
          <span class="value"> ALL* </span>
        </div>
        <div class="detail-row">
          <span class="label"> TRADING PERIOD: </span>
          <span class="value"> 30 trading days** </span>
        </div>
        <div class="detail-row">
          <span class="label"> YOUR SHARE: </span>
          <span class="value"> 40 - 80% </span>
        </div>
        <div class="detail-row">
          <div class="label"> One-Off Evaluation Fee: </div>
          <div class="value"> Rs. 1500 </div>
        </div>
        <div class="tnc small-font">
          No monthly fees, the choosen retail broker is offering trading days = business days
        </div>
      </div>
    </div>
  </div>
</div>
