<div class="challenge-card-container">
  <div class="card-inner">
    <div class="card-front">
      <div class="header">
        <h5>
          <div>Capital</div>
          <div>{{config.initialCapital}}</div>
        </h5>
        <img src="./../../assets/images/logo.png" alt="logo" />
      </div>
      <div class="challenge-details">
        <div class="detail-row">
          <span class="label"> TRADING STRATEGY: </span>
          <span class="value"> {{config.tradingStrategy}} </span>
        </div>
        <div class="detail-row">
          <span class="label"> PROFIT TARGET: </span>
          <span class="value"> {{config.progitTarget}} <span class="small-font">{{config.progitTargetCriteria}}</span> </span>
        </div>
        <div class="detail-row">
          <span class="label"> INSTRUMENTS: </span>
          <span class="value"> {{config.instruments}} </span>
        </div>
        <div class="detail-row">
          <span class="label"> TRADING PERIOD: </span>
          <span class="value"> {{config.tradingPeriod}} </span>
        </div>
        <div class="detail-row">
          <span class="label"> YOUR SHARE: </span>
          <span class="value"> {{config.yourShare}} </span>
        </div>
        <div class="detail-row">
          <div class="label"> One-Off Evaluation Fee: </div>
          <div class="value"> {{config.evaluationFee}} </div>
        </div>
        <div class="tnc small-font">
          {{config.tnc}}
        </div>
      </div>
    </div>
  </div>
</div>
