<div
  style="border-color: rgba(94, 98, 118, 0)"
  class="fusion-column content-box-column content-box-column content-box-column-1 col-lg-12 col-md-12 col-sm-12 fusion-content-box-hover content-box-column-last content-box-column-last-in-row"
>
  <div
    class="col content-box-wrapper content-wrapper-background link-area-box link-type-button-bar icon-hover-animation-slide"
    style="
      background-color: rgb(255, 255, 255);
      min-height: 412px;
      height: auto;
      overflow: visible;
    "
    data-link="https://fidelcrest.com/programs"
    data-link-target="_self"
    data-animationoffset="100%"
  >
    <div class="heading heading-with-icon icon-left">
      <a
        class="heading-link"
        href="https://fidelcrest.com/programs"
        target="_self"
        ><div class="icon">
          <i
            style="
              background-color: transparent;
              border-color: transparent;
              height: auto;
              width: 32px;
              line-height: normal;
              color: #5f616f;
              font-size: 32px;
            "
            aria-hidden="true"
            class="fontawesome-icon fa-calculator fas circle-no"
          ></i>
        </div>
        <h2
          class="content-box-heading fusion-responsive-typography-calculated"
          style="
            font-size: 24px;
            line-height: 1.21;
            --fontSize: 24;
            --minFontSize: 24;
          "
          data-fontsize="24"
          data-lineheight="29.04px"
        >
          Choose Trading Program
        </h2></a
      >
    </div>
    <div class="fusion-clearfix"></div>
    <div class="content-container" style="color: #8b8c97">
      <p>
        You can choose a trading strategy and account size form $5,000 to
        $400,000 to meet your skills and profit targets.
      </p>
    </div>
    <div class="fusion-clearfix"></div>
    <a
      class="fusion-read-more fusion-button-bar"
      href="https://fidelcrest.com/programs"
      target="_self"
      >Trading Programs</a
    >
    <div class="fusion-clearfix"></div>
  </div>
</div>
