<div class="challenge-steps-card-container">
  <div class="card-inner">
    <div class="card-front" (click)="redirectTo(config)">
      <div class="content-container">
        <div class="icon-container">
          <div class="icon">
            <span class="material-icons">
              {{config.icon}}
              </span>
          </div>
        </div>
        <div class="content">
          <h2>{{ config.title }}</h2>
          <p>{{ config.description }}</p>
        </div>
      </div>
      <div class="footer-button">
        {{ config.btnText }}
      </div>
    </div>
  </div>
</div>
