<div class="gold-details-container">
  <section class="storefront-jumbotron">
    <div class="jumbotron-row">
      <div class="jumbotron-cell">
        <div class="jumbotron-content">
          <h1 class="heading row col-sm-12">Empuraan Gold - Program Information</h1>
          <div class="description-table">
            <!--Table-->
            <table class="table table-striped w-auto">
              <!--Table head-->
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Surname</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Position</th>
                  <th>Age</th>
                </tr>
              </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody>
                <tr class="table-info">
                  <th scope="row">1</th>
                  <td>Kate</td>
                  <td>Moss</td>
                  <td>USA</td>
                  <td>New York City</td>
                  <td>Web Designer</td>
                  <td>23</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Anna</td>
                  <td>Wintour</td>
                  <td>United Kingdom</td>
                  <td>London</td>
                  <td>Frontend Developer</td>
                  <td>36</td>
                </tr>
                <tr class="table-info">
                  <th scope="row">3</th>
                  <td>Tom</td>
                  <td>Bond</td>
                  <td>Spain</td>
                  <td>Madrid</td>
                  <td>Photographer</td>
                  <td>25</td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>
            <!--Table-->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
