<div class="dashboard-container">
  <section class="storefront-jumbotron">
    <div class="jumbotron-row">
      <div class="jumbotron-cell">
        <div class="jumbotron-content">
          <h1 class="jumbotron-title">Don't just trade, Become a Trader</h1>
          <h5>
            Providing discipline and funding for long-term success
          </h5>
        </div>
      </div>
    </div>
    <hr class="horizontal-break">
  </section>
  <div class="programmes-wrapper">
    <h3 class="center">Reframe your approach to trading</h3>
    <app-programmes></app-programmes>
  </div>
</div>
