$jumbotronHeight: 40%;

.dashboard-container {
  height: 100%;
  .jumbotron-container {
    height: $jumbotronHeight;
    .logo-container {
      height: 80%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: 100%;
        width: auto;
      }
    }
    .details-container {
      text-align: center;
    }
    .horizontal-break {
      margin-left: 6rem;
      margin-right: 6rem;
    }
  }
  .programmes-wrapper {
    height: calc(100% - #{$jumbotronHeight});
    display: flex;
    flex-direction: column;
    app-programmes {
      flex: 1;
    }
  }
}
.center {
  text-align: center;
}