<div class="gold-container">
  <section class="storefront-jumbotron">
    <div class="jumbotron-row">
      <div class="jumbotron-cell">
        <div class="jumbotron-content">
          <div class="heading row col-sm-12">
            <h1>Empuraan Gold</h1>
          </div>
          <div class="row col-sm-12">
            <div class="col-sm-8 details">
              <h2>Supercharge your Trading account</h2>
              <p>
                Get access to funded Trading account with just Paying 1% of
                intial capital/month with all incorporated with money & Risk
                management
              </p>
            </div>
            <div class="col-sm-4 image">
              <img src="./../../assets/images/check2.jpg" alt="gold_logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
