<div class="gold-container">
  <section class="storefront-jumbotron">
    <div class="jumbotron-row">
      <div class="jumbotron-cell">
        <div class="jumbotron-content">
          <h1 class="heading row col-sm-12">Empuraan Gold</h1>
          <div class="row col-sm-12">
            <span class="col-sm-1"></span>
            <div class="col-sm-5 details">
              <h2 class="title">Supercharge your Trading account</h2>
              <p class="desc">
                Get access to funded Trading account with just Paying 1% of
                intial capital/month with all incorporated with money & Risk
                management
              </p>
              <a
                class="jumbotron-call-to-action-btn btn btn-with-animation"
                pagescroll
                role="button"
                [routerLink]="[ '/gold-details']"
              >
                <span class="btn-text">Get Gold</span>
              </a>
            </div>
            <div class="col-sm-5 image">
              <img src="./../../assets/images/check2.jpg" alt="gold_logo" />
            </div>
            <span class="col-sm-1"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
