.gold-container {
  display: block;
  height: 100%;
  .storefront-jumbotron {
    width: 100%;
    display: table;
    table-layout: fixed;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    background-color: #1976d2;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    // margin-top: calc(-90px);
    // padding-top: calc(90px);
    // background-image: url("./../../assets/images/bg12.jpg");
    background-color: #000000;
    color: #ffffff;
  }
  .storefront-jumbotron a:not(.btn) {
    color: #ffffff;
    text-decoration: underline;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
  }
  .storefront-jumbotron .jumbotron-row {
    display: table-row;
  }
  .storefront-jumbotron .jumbotron-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .storefront-jumbotron .jumbotron-content .jumbotron-call-to-action-btn {
    color: #ffffff;
    background-color: #c5964c;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    letter-spacing: 0.04em;
    -webkit-transition: border-color 0.5s, color 0.5s, background-color 0.5s;
    -moz-transition: border-color 0.5s, color 0.5s, background-color 0.5s;
    -ms-transition: border-color 0.5s, color 0.5s, background-color 0.5s;
    -o-transition: border-color 0.5s, color 0.5s, background-color 0.5s;
    transition: border-color 0.5s, color 0.5s, background-color 0.5s;
    padding: 15px !important;
    margin: 20px 0;
    margin-bottom: 20px !important;
  }
  .storefront-jumbotron .jumbotron-content .jumbotron-call-to-action-btn:hover,
  .storefront-jumbotron .jumbotron-content .jumbotron-call-to-action-btn:focus,
  .storefront-jumbotron .jumbotron-content .jumbotron-call-to-action-btn.focus {
    color: #ffffff;
    background-color: #aa0026;
    border-color: transparent;
  }
  .storefront-jumbotron .jumbotron-content .jumbotron-call-to-action-btn:active,
  .storefront-jumbotron
    .jumbotron-content
    .jumbotron-call-to-action-btn.active {
    color: #ffffff;
    background-color: rgba(170, 0, 38, 0.6);
    border-color: rgba(0, 0, 0, 0.7);
  }
  .storefront-jumbotron .jumbotron-content {
    color: #000000;
    .heading {
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 4rem;
      margin-bottom: 2rem;
      color: #c5964c;
    }
    .details {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      text-align: left;
      background-color: transparent;
      color: #ffffff;
      margin: auto;
      padding: 15px;
      .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 2rem;
      }
      .desc {
        font-size: 1.5rem;
      }
    }
    .image {
      text-align: right;
      background-color: transparent;
      img {
        width: 100%;
        height: auto;
        margin-top: -4rem;
      }
    }
  }
  @media only screen and (max-width: 799px) {
    .storefront-jumbotron {
      padding-top: 0;
    }
  }
}
